<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>乐优商城--商品搜索结果页</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link href='./css/material.css' rel="stylesheet">
    <link href="./css/vuetify.min.css" rel="stylesheet">
    <script src="./js/vue/vue.js"></script>
    <script src="./js/vue/vuetify.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-list.css"/>
    <link rel="stylesheet" type="text/css" href="css/widget-cartPanelView.css"/>
    <style type="text/css">
* {
    box-sizing: unset;
}
        .btn-arrow, .btn-arrow:visited, .btn-arrow:link, .btn-arrow:active {
            width: 46px;
            height: 23px;
            border: 1px solid #DDD;
            background: #FFF;
            line-height: 23px;
            font-family: "\5b8b\4f53";
            text-align: center;
            font-size: 16px;
            color: #AAA;
            text-decoration: none;
            out-line: none
        }

        .btn-arrow:hover {
            background-color: #1299ec;
            color: whitesmoke;
        }

        .top-pagination {
            display: block;
            padding: 3px 15px;
            font-size: 11px;
            font-weight: 700;
            line-height: 18px;
            color: #999;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
            text-transform: uppercase;
            float: right;
            margin-top: 6px
        }

        .top-pagination span {
            margin-right: 10px;
        }
/*        .logo-list li{
            padding:8px;
        }
       .logo-list li:hover{
            background-color: #f3f3f3;
        }*/
        .type-list a:hover{
            color: #1299ec;
        }
        .skus {
            list-style: none;
        }
        .skus li{
            list-style: none;
            display: inline-block;
            float: left;
            margin-left: 2px;
            border: 2px solid #f3f3f3;
        }
        .skus li.selected{
            border: 2px solid #dd1144;
        }
        .skus img{
            width: 25px;
            height: 25px;
        }
    </style>
    <script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
</head>

<body >

<div id="searchApp">

<!-- 自定义头部组件-->
<div id="nav-bottom">
    <ly-top/>
</div>


<!--list-content-->
<div class="main" >
    <div class="py-container">
<!--导航条-->
        <div class="bread">
            <!--面包屑-->
            <ul class="fl sui-breadcrumb">
                <li><span>全部结果:</span></li>
                <li v-for="(c,i) in breads" :key="i">
                    <a href="#" v-if="i<2">{{c.name}}</a>
                    <span v-else>{{c.name}}</span>
                </li>

            </ul>
            <!--已选择过滤项-->
            <ul class="tags-choose">
                <li class="tag" v-for="(v,k) in search.filter" v-if="k !=='分类'">
                    {{k}}:<span style="color: red">{{getFilterValue(k,v)}}</span>
                    <i class="sui-icon icon-tb-close" @click="removeFilter(k)"></i>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
<!--分类选项-->

        <div class="clearfix selector">
            <div class="type-wrap" v-for="(v,k,i) in remainFilters" :key="k" v-if="k!=='品牌'" v-show="i < 5 || showMore">
                <div class="fl key">{{k}}</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li v-for="(o,j) in v" :key="j" @click="selectFilter(k,o.id||o)">
                            <a>{{o.name || o}}</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>
            <div class="type-wrap logo" v-else>
                <div class="fl key brand">{{k}}</div>
                <div class="value logos">
                    <ul class="logo-list">
                        <li v-for="(o,j) in v" :key="j" v-if="o.image" @click="selectFilter(k,o.id)"><!--K:过滤名称，o当前过滤想的值或id-->
                            <img :src="o.image" />
                        </li>
                        <li style="text-align: center" v-else>
                            <a style="line-height: 30px; font-size: 12px" href="#">{{o.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext">
                    <a href="javascript:void(0);" class="sui-btn">多选</a>
                </div>
            </div>

            <div class="type-wrap" style="text-align: center">
                <v-btn small flat @click="showMore=true" v-show="!showMore">
                    更多<v-icon>arrow_drop_down</v-icon>
                </v-btn>
                <v-btn small="" flat @click="showMore=false" v-show="showMore">
                    收起<v-icon>arrow_drop_up</v-icon>
                </v-btn>
            </div>
        </div>
<!--商品详情-->
        <div class="details">
            <div class="sui-navbar">
                <div class="navbar-inner filter">
                    <ul class="sui-nav">
                        <li class="active">
                            <a href="#">综合</a>
                        </li>
                        <li>
                            <a href="#">销量</a>
                        </li>
                        <li>
                            <a href="#">新品</a>
                        </li>
                        <li>
                            <a href="#">评价</a>
                        </li>
                        <li>
                            <a href="#">价格</a>
                        </li>
                    </ul>

                    <div class="top-pagination">
                        <span>共 <i style="color: #222;">{{total}}</i> 商品</span>
                        <span><i style="color: red;">{{search.page}}</i>/{{totalPages}}</span>
                        <a class="btn-arrow" href="#" style="display: inline-block" @click.prevent="prevPage" >&lt;</a>
                        <a class="btn-arrow" href="#" style="display: inline-block" @click.prevent="nextPage">&gt;</a>
                    </div>
                </div>
            </div>
<!-- 具体的每一个商品列表-->
            <div class="goods-list">
                <ul class="yui3-g">
                <!--  - 把skus这个json字符串，变成JS对象
                      - 记录当前被选中的是哪一个sku，记录在哪里比较合适呢？显然是遍历到的goods对象自己内部，因为每一个goods都会有自己的sku信息。
                      - 默认把第一个sku作为被选中的，记录下来
                      - 以后在根据用户行为，选中不同的sku-->
                      <li class="yui3-u-1-5" v-for="goods in goodsList" :key="goods.id">
                          <div class="list-wrap">
                              <div class="p-img">
                                  <a href="item.html" target="_blank"><img :src="goods.selectedSku.images" height="200"/></a>
                                  <ul class="skus">
                                      <li :class="{selected : sku.id == goods.selectedSku.id}" v-for="sku in goods.skus" :key="sku.id" @mouseenter="goods.selectedSku = sku">
                                          <img :src="sku.images">
                                      </li>
                                  </ul>
                              </div>
                              <div class="clearfix"></div>
                              <div class="price">
                                  <strong>
                                      <em>¥</em>
                                      <i v-text="ly.formatPrice(goods.selectedSku.price)"></i>
                                  </strong>
                              </div>
                              <div class="attr" style="overflow: hidden">
                                  <em v-text="goods.selectedSku.title" ></em>
                              </div>
                              <div class="cu" style="overflow: hidden">
                                  <em ><span>促</span><em v-html="goods.subTitle"></em></em>
                              </div>
                              <div class="commit">
                                  <i class="command">已有2000人评价</i>
                              </div>
                              <div class="operate">
                                  <a href="success-cart.html" target="_blank" class="sui-btn btn-bordered btn-danger">加入购物车</a>
                                  <a href="javascript:void(0);" class="sui-btn btn-bordered">对比</a>
                                  <a href="javascript:void(0);" class="sui-btn btn-bordered">关注</a>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
            <!--分页工具条-->
<!--            TODO 分页操作-->
              <div class="fr">
                  <div class="sui-pagination pagination-large">
                      <ul style="width: 550px">
                          <li :class="{prev:true, disabled:search.page ===1}" @click.prevent="prevPage">
                              <a href="#">«上一页</a>
                          </li>
                          <li :class="{active: index(i)===search.page}" v-for="i in Math.min(5,totalPages)" :key="i">
                              <a href="#" @click.prevent="search.page=index(i)">{{index(i)}}</a>
                          </li>

                          <li class="dotted" v-show="totalPages > 5"><span>...</span></li>
                          <li :class="{next:true,disabled:search.page===totalPages}" >
                              <a href="#" @click.prevent="nextPage">下一页»</a>
                          </li>
                      </ul>
                      <div><span>共{{totalPages}}页&nbsp;</span><span>
        到第
        <input type="text" class="page-num" :value="search.page">
        页 <button class="page-confirm" onclick="alert(1)">确定</button></span></div>
                  </div>
              </div>
          </div>
          <!--hotsale-->
        <div class="clearfix hot-sale">
            <h4 class="title">热卖商品</h4>
            <div class="hot-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_01.png"/>
                            </div>
                            <div class="attr">
                                <em>Apple苹果iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_03.png"/>
                            </div>
                            <div class="attr">
                                <em>金属A面，360°翻转，APP下单省300！</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_04.png"/>
                            </div>
                            <div class="attr">
                                <em>256SSD商务大咖，完爆职场，APP下单立减200</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4068.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有20人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_02.png"/>
                            </div>
                            <div class="attr">
                                <em>Apple苹果iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    var vm = new Vue({
        el: "#searchApp",
        // 在data中定义属性，保存搜索的结果
        data: {
            ly,
            search: {
                key: "",//搜索页面关键字
                page: 0,//记录分页的参数
                filter: {} //选中的过滤项
            },
            goodsList: [], //商品列表
            total: 0,//总条数
            totalPages: 0,// 总页数
            filterList: {},//过滤项
            showMore: false, //是否显示更多过滤
            breads: []
        },
        // TODO 未完成的逻辑函数
        created(){
            //获取url路径的参数，目前可以想到的有搜索参数和分页参数，分页参数需要初始化
            const key = ly.getUrlParam("key");
            //获取hash属性
            const hash = ly.parse(location.hash.substring(1));
            //判断是否有请求参数
            if (!key) {
                return;
            }
            //初始化属性
            hash.key = key;
            hash.page = parseInt(hash.page) || 1;
            hash.filter = hash.filter || {};
            this.search = hash;
            //发起请求，根据条件搜索
            this.loadData();
            this.loadFilterList();
        },
        methods: {

            loadData(){
                //发起异步请求
                ly.http.post("/search/page", this.search)
                    .then(resp => {
                        // 在loadData的异步查询中，将结果赋值给goodsList
                        this.total = resp.data.total,
                            this.totalPages = resp.data.totalPage,
                            //我们在查询成功的回调函数中，对goods进行遍历，然后添加一个selected属性，保存被选中的sku
                            //1.处理sku
                            resp.data.items.forEach(goods => {
                                //2.变为js对象
                                // ly.parse(goods.skus); 没敢用
                                goods.skus = JSON.parse(goods.skus); // 把json串解析成数组
                                //3.添加默认选中的sku(es6语法，对象.属性==新增一个属性)
                                goods.selectedSku = goods.skus[0];
                            });

                        this.goodsList = resp.data.items
                    });
            },
            index(i) {
                if (this.search.page <= 3 || this.totalPages <= 5) {
                    // 当前页小于3，则页码就是从 i 开始
                    return i;
                } else if(this.search.page <= this.totalPages - 2) {
                    // 大于3，则从page-2开始，然后逐个加1
                    return this.search.page - 3 + i;
                } else{
                    return this.totalPages - 5 + i;
                }
            },
            prevPage() {
                if (this.search.page > 1) {
                    this.search.page--
                }
            },
            nextPage() {
                if (this.search.page <this.totalPages) {
                    this.search.page++
                }
            },
            loadFilterList() {
                ly.http.post("/search/filter",this.search)
                    .then(resp =>{
                        this.filterList = resp.data;

                        //判断分类的数量是否是一个
                        const categories = this.filterList['分类'];
                        if (categories.length === 1) {
                            //查询分类信息，写入面包屑
                            ly.http.get("/item/category/levels?id="+categories[0].id)
                                .then(resp => this.breads = resp.data);
                        }
                    })
            },
            selectFilter(key, val) {
                //复制原来的search
                const {...obj} = this.search.filter;
                //添加新的属性
                obj[key] = val;
                //赋值给search
                this.search.filter = obj;
            },
            getFilterValue(key, value) {
                if (!this.filterList[key]) {
                    return "";
                }
                if (key === '品牌') {
                    return this.filterList[key][0].name;
                }
                return value;
            },
            removeFilter(k) {
                // 复制原来的search的filter
                const {...obj} = this.search.filter;
                // 删除属性
                delete obj[k]
                // 赋值给search
                this.search.filter=obj;
            }

        },
        watch: {
            "search.page":{
                handler(val) {
                    // 把search对象中除了key以外的属性记录在obj对象中（解构表达式）
                    const {key, ...obj} = this.search;
                    //把obj 属性拼接在url路径的hash中
                    window.location.hash = "#" + ly.stringify(obj);
                    //因为hash变化不引起刷新，需要手动调用loadData
                    this.loadData();
                }
            },
            "search.filter": {
                handler(val) {
                    //把search对象中除了key以外的属性变成请求参数
                    const {key,...obj}=this.search;
                    //拼接在url路径的hash中
                    window.location.hash = "#" + ly.stringify(obj);
                    //因为hash变化不引起刷新，需要手动调用loadData
                    this.loadData();
                    //还要加载新的过滤项
                    this.loadFilterList();
                }
            }

        },
        components:{
            lyTop: () => import("./js/pages/top.js")
        },
        computed:{
            remainFilters(){
                // 获取已经选中的过滤项的key
                const keys = Object.keys(this.search.filter);
                // 定义空对象，记录符合条件的过滤项
                const obj = {};
                // 遍历全部过滤项
                Object.keys(this.filterList).forEach(key => {
                    // 过滤掉已经包含在已选中的过滤项中的，还有待选项不超过1个的
                    if(!keys.includes(key) && this.filterList[key].length > 1){
                        obj[key] = this.filterList[key];
                    }
                });
                return obj;
            }
        }
    });
</script>
<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->

</body >
<!--购物车单元格 模板-->
<script type="text/template" id="tbar-cart-item-template">
    <div class="tbar-cart-item">
        <div class="jtc-item-promo">
            <em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
            <div class="promo-text">已购满600元，您可领赠品</div>
        </div>
        <div class="jtc-item-goods">
            <span class="p-img"><a href="#" target="_blank"><img src="{2}" alt="{1}" height="50" width="50"/></a></span>
            <div class="p-name">
                <a href="#">{1}</a>
            </div>
            <div class="p-price"><strong>¥{3}</strong>×{4}</div>
            <a href="#none" class="p-del J-del">删除</a>
        </div>
    </div>
</script>
<!--侧栏面板结束-->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });
        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });

    })
</script>
<script type="text/javascript" src="js/model/cartModel.js"></script>
<script type="text/javascript" src="js/czFunction.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/widget/cartPanelView.js"></script>


</html>